**/.git
**/.gitignore
**/.gradle
**/.idea
**/.vscode
**/node_modules
**/dist
**/build
**/target
**/.env
**/.env.*
*.env
*.log
outputs
backend/src/main/resources/application-local.properties
frontend/.env.local
